.userlist{
    flex: 1;
    background-color: aliceblue;
    padding: 30px 50px;
    height: 100vh;
    margin-bottom: 10px;
}

    .userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.widgetSmTitle{
    font-weight: 600;
}

.userAddButton{
    text-decoration: none;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #b1147d;
  margin-right: 10px;
  cursor: pointer;
}